<%#= render 'challenges/card_challenge', challenge: @user_challenge.challenge %>
<!---->

<div class="container">
  <div class="card-trip mt-2">
    <div class ="image-container">
      <%= cl_image_tag(@chachallenges.photo.key) %>
    </div>
      <div class="container_pourcentage" data-controller="progress-bar" data-progress-bar-pourcentage-value="<%= @user_challenge.score_percentage %>">
        <div class="circle_percent" data-progress-bar-target="circlePercent">
            <div class="circle_inner">
                <div class="round_per" data-progress-bar-target="roundPer"></div>
            </div>
        </div>
      </div>
    <div class="card-trip-infos my-2">
      <div class= "d-inline">
        <h2>Level: 1</h2>
        <%# <h2>Level:<%= challenge.level</h2>  %>
        <h2><%= @chachallenges.name.capitalize %></h2>
        <p><%= @chachallenges.category %></p>
      </div>
      <div class = "points">
      <h3 class="card-trip-pricing ps-3"><%= @chachallenges.reward %> points</h3>
      </div>
      <div class="circular-progress">
        <div class="avatar">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>
</div>


<%= render '/challenges/content_challenge', challenge: @user_challenge.challenge %>

<div class="card-trip infos-container">
  <div class="infos-container">
    <% @user_challenge.user_challenge_steps.each do |user_challenge_step| %>
      <div class="infos-container mt-3">
        <%= render 'simple_form_submit_checkbox', user_challenge_step: user_challenge_step %>
      </div>
    <% end %>
  </div>
</div>

<!--<div class="d-flex justify-content-center my-3">-->
  <%#= link_to "Commencer", use, class: "btn-ghost text-decoration-none" %>
  <%#= render '/challenges/new_user_challenge', challenge: @challenge, user_challenge: @user_challenge %>
<!--</div>-->


<!--<div class="container" data-controller="progress-bar" data-progress-bar-pourcentage-value="<%#= @user_challenge.score_percentage %>">
    <div class="circle_percent" data-progress-bar-target="circlePercent">
        <div class="circle_inner">
            <div class="round_per" data-progress-bar-target="roundPer"></div>
        </div>
    </div>
</div>-->
