<%#= render 'challenges/card_challenge', challenge: @user_challenge.challenge %>
<!---->

<div class="container">
  <div class="card-trip mt-2">
    <div class ="image-container">
      <img src="<%= @chachallenges.photo.attached? ? cl_image_path(challenge.photo.key) : 'https://res.cloudinary.com/dxglkewb3/image/upload/v1724950493/Default-image_sruqqm.png' %>" alt="Photo">
    </div>
<!--    <div class="container_pourcentage" data-controller="progress-bar" data-progress-bar-pourcentage-value="<%#= @user_challenge.score_percentage %>">
      <div class="circle_percent" data-progress-bar-target="circlePercent">
          <div class="circle_inner">
              <div class="round_per" data-progress-bar-target="roundPer"></div>
          </div>
      </div>

    </div>-->
    <div class="progress-pie-chart" data-controller="progress-bar" data-progress-bar-pourcentage-value="<%= @user_challenge.score_percentage %>">
      <div class="ppc-progress">
        <div class="ppc-progress-fill" data-progress-bar-target="fill"></div>
      </div>
      <div class="ppc-percents">
        <div class="pcc-percents-wrapper">
          <span data-progress-bar-target="percentage">%</span>
        </div>
      </div>
    </div>
    <div class="card-trip-infos">
      <div>
        <h2><%= @chachallenges.name.capitalize %></h2>
        <p><%= @chachallenges.category %></p>
      </div>
      <h2 class="card-trip-infos"><%= @chachallenges.reward %> points</h2>
      <%= render "shared/avatar"%>
    </div>
  </div>
</div>


<%= render '/challenges/content_challenge', challenge: @user_challenge.challenge %>

<div class="card-trip infos-container">
  <div class="infos-container">
    <% @user_challenge.user_challenge_steps.each do |user_challenge_step| %>
      <div class="infos-container mt-3">
        <%= render 'simple_form_submit_checkbox', user_challenge_step: user_challenge_step %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center gap-2 mt-5 col-sm-6 mx-2">
  <%= link_to challenges_path, class: 'btn-ghost text-decoration-none' do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
  <%= render "challenges/sweetalert_modal", user_challenge: @user_challenge %>
</div>



<!--<div class="d-flex justify-content-center my-3">-->
  <%#= link_to "Commencer", use, class: "btn-ghost text-decoration-none" %>
  <%#= render '/challenges/new_user_challenge', challenge: @challenge, user_challenge: @user_challenge %>
<!--</div>-->


<!--<div class="container" data-controller="progress-bar" data-progress-bar-pourcentage-value="<%#= @user_challenge.score_percentage %>">
    <div class="circle_percent" data-progress-bar-target="circlePercent">
        <div class="circle_inner">
            <div class="round_per" data-progress-bar-target="roundPer"></div>
        </div>
    </div>
</div>-->
