<%= render 'challenges/card_challenge', challenge: @user_challenge.challenge %>

<%= render '/challenges/content_challenge', challenge: @user_challenge.challenge %>

<div class="card-trip infos-container">
  <div class="infos-container">
    <% @user_challenge.user_challenge_steps.each do |user_challenge_step| %>
      <div class="infos-container mt-3">
        <%= render 'simple_form_submit_checkbox', user_challenge_step: user_challenge_step %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center my-3">
  <%# <%= link_to "Commencer", use, class: "btn-ghost text-decoration-none" %>
  <%= render '/challenges/new_user_challenge', challenge: @challenge, user_challenge: @user_challenge %>
</div>
