<div class="banner">
  <div class="container text-center">
    <%= image_tag "Logo-White.png", alt: "Logo-White", style: "width: 50%; height: auto; padding: 0px; margin: 0px" %>
    <h2>Challengez-vous, dépassez-vous !</h2>
  </div>d
</div>

<div class="slider-container">
  <ul class="list list-unstyled">
    <% @challenges.each do |challenge| %>
      <li class="item card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= challenge.photo.attached? ? cl_image_path(challenge.photo.key) : "https://plus.unsplash.com/premium_photo-1669648874691-7252748ac426?q=80&w=2815&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>)">
        <div>
          <%= link_to challenge_path(challenge), class:"text-decoration-none text-white" do %>
            <%= challenge.name %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="d-flex justify-content-center my-3">
    <%= link_to "Tous les challenges", challenges_path, class: "btn-ghost text-decoration-none", style:"width:240px;" %>
  </div>
</div>
