<div class="container">
  <div class="card-trip mt-2">
    <img src="url(<%= cl_image_path(challenge.photo.key) %>)"/>
    <div class="card-trip-infos">
      <div>
        <h2>Level:<%= challenge.level %></h2>
        <h2><%= challenge.name.capitalize %></h2>
        <p><%= challenge.category %></p>
        <p></p>
      </div>
      <h2 class="card-trip-pricing"><%= challenge.reward %> points</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
