<div class="container">
  <div class="card-trip mt-2">
    <div class="image-container">
      <img src="<%= challenge.photo.attached? ? cl_image_path(challenge.photo.key) : "https://res.cloudinary.com/dxglkewb3/image/upload/v1724950493/Default-image_sruqqm.png" %>" alt="Image">
    </div>
    <div class="card-trip-infos">
      <div>
        <h2 class="pb-2">Niveau: <%= challenge.level %></h2>
        <h2><%= challenge.name %></h2>
        <p><%= challenge.category %></p>
      </div>
      <h2 class="card-trip-infos pb-4 mb-1"><%= challenge.reward %> points</h2>
    </div>
    <%= render "shared/avatar", class:"avatar"%>
  </div>
</div>
