<div class="container">
  <div class="card-trip mt-2">
    <div class="image-container">
      <%= cl_image_tag(challenge.photo.key)%>
    </div>
    <div class="card-trip-infos">
      <div>
        <h2>Level: 1</h2>
        <%# <h2>Level:<%= challenge.level</h2>  %>
        <h2><%= challenge.name.capitalize %></h2>
        <p><%= challenge.category %></p>
      </div>
      <h2 class="card-trip-infos"><%= challenge.reward %> points</h2>
      <div class="avatar pe-5 pb-3">
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>
