<div class="container container-new d-flex justify-content-center col-sm-3 col-xs-3">
  <div class="feedback-form justify-content-center m-2">
    <h2 class="header text-center">Crée ton challenge</h2>
    <div>
      <%= simple_form_for [@challenge] do |f| %>
        <%= f.input :category, collection: Challenge::CATEGORIES, as: :select, label: "Choisis ta catégorie", class:"mb-3 form-group" %>
        <%= f.input :content, label: "Contenu du challenge", class:"mb-3 form-group" %>
        <%= f.input :level, collection: Challenge::LEVEL, as: :select, label: "Choisis une difficulté ", class:"mb-3 form-group" %>
        <%= f.input :time, collection: Challenge::TIME, as: :select, label: "Choisis ta durée", class:"mb-3 form-group" %>
        <%= f.button :submit, value:"Créer le challenge", class:"text-center btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
