<%= render 'challenges/card_challenge', challenge: @challenge, user_challenge: @user_challenge %>

<%= render 'challenges/content_challenge', challenge: @challenge, user_challenge: @user_challenge %>

<%= render 'challenges/challenge_steps', challenge: @challenge %>


<div class="d-flex justify-content-center my-3">
  <%# <%= link_to "Commencer", use, class: "btn-ghost text-decoration-none" %>
  <%= render 'challenges/new_user_challenge', challenge: @challenge, user_challenge: @user_challenge %>
</div>
